@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
/* 
.ag-theme-quartz {
  border: 2px solid red;
  --ag-foreground-color: rgba(21, 19, 133, 1);
  --ag-background-color: 'lilac';
  --ag-header-background-color: rgb(113, 204, 186);
  --ag-row-hover-color: rgb(142, 76, 143);
} */

.green-cell {
  background-color: green;
}

.ag-row.featured-row {
  background-color: rgb(94, 88, 158);
}

.ag-row-selected.ag-row.featured-row {
  background-color: rgb(115, 108, 192);
}
